/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */
/* Google Fonts doesn’t support font-feature-settings */

@import url('https://rsms.me/inter/inter.css');
/* Inter by Rasmus Andersson: https://github.com/rsms/inter/ https://rsms.me/inter/ */

html {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-feature-settings: "ss03", "cv01", "cv10"; /* r curves before round letters, curve on 1, tail on G */
	color: #000000; /* solid black */
	background-color: #FFF1E8; /* Pico-8 white */
	/* hanging-punctuation: first allow-end; */ /* not supported */
}

body {
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	max-width: 30rem;
}

h1 {
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 3rem;
	font-weight: bold;
}

h2 {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: normal;
}

strong, b, cite, i, em { /* bold as only emphasis */
	font-weight: bold;
	font-style: normal;
}

.spacer-rule {
	border-top: 3px solid #FF004D; /* Pico-8 red */
}

figure {
	margin-top: 1rem;
	padding-top: 0.5rem;
	margin-bottom: 3rem;
}

blockquote, q {
	quotes: "\201C""\201D""\2018""\2019"; /* proper curly quotes */
	text-indent: -0.4em; /* faux hanging punctuation */
}

blockquote {
	margin-bottom: 0;
}

blockquote, figure {
	margin-left: 0;
	margin-right: 0;
}

blockquote:before, q:before {
	content: open-quote;
}

blockquote:after, q:after {
	content: close-quote;
}

figcaption:before {
	content: "—";
}
