@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Kotta+One');
@import url('https://fonts.googleapis.com/css?family=Unica+One');

html {
	font-size: 16px;
	line-height: 1.25;
	font-family: 'Work Sans', serif;
	color: #1D2B53; /* Pico-8 dark-blue */
	background-color: #FFF1E8; /* Pico-8 white */
	hanging-punctuation: first allow-end; /* oh hey, not supported */
}

body {
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	max-width: 30rem;
}

h1 {
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 3rem;
	font-family: 'Unica One', sans-serif;
	font-weight: normal;
	color: #FF004D; /* Pico-8 red */
}

h2 {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-family: 'Kotta One', serif;
	font-weight: normal;
}

cite, strong, em, b, i {
	font-family: "Kotta One", serif;
	font-size: 1.07rem;
	font-weight: normal;
	font-style: normal;
}

figure {
	margin-top: 1rem;
	border-top: 1px solid #FF004D; /* Pico-8 red */
	padding-top: 0.5rem;
	margin-bottom: 3rem;
}

blockquote, q {
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote {
	margin-bottom: 0;
}

blockquote, figure {
	margin-left: 0;
	margin-right: 0;
}

blockquote:before, q:before {
	content: open-quote;
}

blockquote:after, q:after {
	content: close-quote;
}

figcaption {
	margin-left: 1rem;
}

figcaption:before {
	content: "—";
}
