@import url('https://fonts.googleapis.com/css?family=Alice');

html {
	font-size: 16px;
	font-family: 'Alice', serif;
	color: #2F3F4F;
	background-color: #FFF4D9;
}

body {
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	max-width: 30rem;
}

h1 {
	margin-top: 1rem;
	font-size: 3rem;
	text-align: center;
}

blockquote, q {
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote {
	margin-bottom: 0;
}

blockquote, figure {
	margin-left: 0;
	margin-right: 0;
}

blockquote:before, q:before {
	content: open-quote;
}

blockquote:after, q:after {
	content: close-quote;
}

figcaption {
	margin-left: 1rem;
}

figcaption:before {
	content: "—";
}

.centered-scarab {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}

.centered {
	text-align: center;
}
